---
title: My Eleventy Site
---
<html>
<head>
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>My Eleventy Site</h1>
    </header>

    <main>
        <h1>{{ title }}</h1>
        {{ content }}
        <a href="/">Home</a>
    </main>
    <footer>
        Site made with <a href="https://11ty.dev/">11ty</a>
    </footer>
</body>
</html>
